<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/style/blogs/blog.css" rel="stylesheet" type="text/css">

    <%- include('../../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../../partials/navigation-bar'); %>
    </header>

    <div class="blog-container">
        <div class="blog-heading-wrapper">
            <h1 class="blog-heading">Commentary, random musings &amp; ocassional rants.</h1>
        </div>
        <div class="blogs-wrapper">
            <% if (blogs.length> 0) { %>
                <% for (let blog of blogs){ %>
                    <div class="blog-item animate-entry"><time class="post-date"> <%= blog.lastModified %> </time>
                        <p class="post-title"><%= blog.title %></p>
                        <p class="post-short-desc"><%= blog.descript %></p>
                        <div class="tags">
                        <% for (let tag of blog.tags){ %>
                            <a class="tag"><%= tag %></a>
                        <% } %>
                        </div>
                    </div>
                <% } %>
            <%} else { %>
                <h1>No blogs to show</h1>
            <% } %>
        </div>
    </div>
</body>
</html>