<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/style/blogs/blog-post.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quilljs-markdown@latest/dist/quilljs-markdown-common-style.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">

    <%- include('../../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../../partials/navigation-bar'); %>
    </header>

    <div class="blog-post-container">
        <div class="blog-heading-wrapper">
            <h1 class="blog-heading"><%= blog.title %> </h1>
        </div>
        <div class="blog-container">
            <div class="blog-content"><time><%= blog.lastModified %></time>
                <blockquote class="post-description"><%= blog.descript %>
                </blockquote>
                <article class="blog-post">
                    <%- blog.html %>
                </article>
            </div>
        </div>
    </div>
</body>

</html>